.filter{
    box-shadow: 0 0 2px gray;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.gr{
    margin: auto
}
.d-flex-flex-coloumn{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2px;
}
.d-flex-flex-coloumn h6{
    text-align: center;
}

.transaction-form label{
    color: rgba(0, 0, 0, 0.77) !important;
}
.transaction-form input{
    border: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: none !important;
}
.transaction-form input:focus{
    border: 1px solid gray;
    border-bottom: 1px solid gray !important;
    box-shadow: none !important;
}

.ant-select-selector{
    border: 1px solid gray !important;
}
.ant-select-selector:focus{
    box-shadow:none !important;
    outline: none !important;
}

.view-switch{
    border: 1px solid rgba(0, 0, 0, 0.71);
    border-radius: 3px;
    padding: 5px 10px;
    margin: auto;
    margin-right: 2px;
    display: flex;
    align-items: center;
    width: 7vw;
    justify-content: space-between;
}


.anticon svg{
    font-size: 20px;
    cursor: pointer;
}

.active-icon{
    color: black;
    
}
.inactive-icon{
    color: gray;

}
.ant-picker-range{
    border: 1px solid black !important;
}

@media screen and (max-width:600px){
    .filter{
        overflow-x: scroll;
    }
}

.ant-pagination-item a {
    color: rgba(0, 0, 0, 0.85) !important;
}

.empty-placeholder {
    color: #aaaaaa;
    text-align: center;
    margin-top: 150px;
}

.category-analysis {
    padding: 10px;
}

.category-analysis-header {
    text-align: center;
    margin-bottom: 25px;
}


.primary{
    height: 5vh;
    background-color: #1b7e14;
    color: white;
    border: none;
    border-radius: 2px;
    margin: auto;
    margin-left: 2px;
}